(
    project: (
        include: [
            "**/*.py", "!.venv/**",
        ],
    ),
    checks: (
        custom: [
            (
                name: "pytest",
                command: "uv run pytest *.py",
                globs: ["**/*.py"],
            ),
        ]
    )
)
